* {
    margin: 0;
    position: relative;
}

p, label, input{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif
}

#divControl {
    text-align: center;
    top: 30px;
}

#divControl > div {
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    transition: .3s;
    margin: 0 30px;
}

#divControl .imageCamera {
    width: 400px;
    height: 300px;
    background-color: white;
}

.joystick > * {
    display: inline-block;
}

.joystick .back_joystick {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 100%;
    margin-right: 60px;
    touch-action: none;
}

.joystick .back_joystick .circle_joystick {
    position: absolute;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 8px solid rgba(138, 138, 138, 0.767);
    left: 50%;
    margin-left: -23px;
    top: 50%;
    margin-top: -23px;
}

.joystick .cameraControl {
    top: -10px;
}

.joystick input{
    margin: 0 10px 10px 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 100%;
    transition: .3s;
}

#divControl > div > input{
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 20px;
    transition: .3s;
}

#divControl input:hover {
    background-color: rgb(236, 241, 255);
    transition: .3s;
}

#divControl input:active {
    background-color: rgb(206, 218, 248);
    transition: .3s;
}

.title {
    font-size: 25px;
}

.gpSetConnexion *{
    padding: 3px 7px;
}